Generate a background image based on the following description. Avoid pictures of people or text. Prefer images that represent the description, but not a literal recreation.

The generated background image will be mostly covered in the bottom. THE TOP HALF OF THE BACKGROUND SHOULD CONTAIN THE CONTENT. However, the whole background image must be filled in the same style!

Description: {{background_description}}
