The known information about the event is in the following JSON structure:

{{event}}

Given this event information, use the following information from a webpage encoded in Markdown to add details to the event.
Simplify the description to remove any formatting or newlines.

<<< START OF WEBPAGE >>>

{{page}}
