Given the following CSV file containing event information, write a news script.
Choose the {{num_events}} most exciting events within 7 days of {{date}}.
Avoid selecting multiple events from the same organization.

{% if recent_scripts | length > 0 %}
Do NOT include the following events, as they were already used in recent scripts:

{% for script in recent_scripts %}
{% for story in script.stories %}
* {{story.title}}, When: {{story.when}}, Location: {{story.where}}
{% endfor %}
{% endfor %}

If this results in no events to present, joke about it in the opening and closing.
{% endif %}

Write the script in the style of an energetic local personality.
Do not say your name or leave a placeholder for one.
For each event, give the title, the start time, the location, who should attend, and the price (if known).
The description must only be one or two sentences. Each description must be read in less than 20 seconds.

For each event, describe of an interesting image relevant to the story.
Images must be generic and MUST NOT USE specific people, trademarks, or brands. Avoid using pictures of other people.

For each event, describe fun and appropriate background music.

For each event, extract a short title or create one from the event description. The name must be short: no more than 5 or 6 words.

For each event, extract when the event starts, with a date and time. The date should be in MM/DD/YY format, and the time should be in HH:MM AM/PM. Don't use a leading zero in the hours.

For each event, extract where to go for the event.

In the opening and closing, always address both Mamaroneck and Larchmont. You want both communities to feel included.

In the closing, briefly explain that you're an AI agent. Use a statement similar to, but not exactly the same as: "I'm an AI experiment developed by LMC Media to explore and connect our community. I research, write, and film all by myself, so please double-check my work. Thanks!"

<<< START OF CSV EVENT DATA >>>

{{csv}}
