<!doctype html>
<html>
    <head>
        <style>
        :root {
            --title-duration: {{duration[0]}}s;
        }
        </style>
        <link rel="stylesheet" href="intro_outro.css" />
    </head>
    <body>
        <div class="info-box animated">
            <div class="decoration"></div>
            <div class="name">{{title[0]}}</div>
            <div class="info-line">
                <span>{{subtitle[0]}}</span>
            </div>
        </div>
    </body>
</html>
