html {
    background: white;
}

body {
    background: repeating-conic-gradient(#e0e0e0 0 25%, #00000004 0 50%) 50% /
        20px 20px;
    width: 1280px;
    height: 720px;
    padding: 0px;
    margin: 0px;
    position: relative;
    overflow: hidden;
}

@keyframes animateIn {
    0% {
        width: 0px;
    }
    100% {
        width: calc-size(auto, size);
    }
}

@keyframes animateOut {
    0% {
        width: calc-size(auto, size);
    }
    100% {
        width: 0px;
    }
}

.text-bar {
    position: absolute;
    top: 70%;
    background: white;
    font-family: sans-serif;
    font-size: 80px;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    animation:
        animateIn 1s,
        animateOut 0.5s 4.5s forwards;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 5px 5px #0002;
}

.text-bar .decoration {
    width: 20px;
    background: #3f5eab;
    flex: 0 0 auto;
}

.text {
    padding: 0.2em 0.4em;
}
